.home{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 50px;
    margin-right: 50px;
    background-color:rgb(245, 238, 239);
    color:rgb(14, 10, 10);
}
.weet{
    font-size: 65px;

}
    .sweets{
        width: 50%;
        height:50%;
    }