.sweets{
   background-color:rgb(228, 191, 228);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    padding:10px;
    
   
}
.sweet{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}